[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/fahmifan/cocoa-eh.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/fahmifan/fahmifan.github.io.git
	branch = master
