[submodule "public"]
	path = public
	url = git@github.com:miun173/miun173.github.io.git
	branch = master
[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = git@github.com:miun173/cocoa-eh.git
	branch = master
